@font-face {
  font-family: 'Figtree';
  src: url('../fonts/Figtree-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}


html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;

  overflow: auto;         
  scrollbar-width: none;   
}

body::-webkit-scrollbar {
  display: none;          
}

::-webkit-scrollbar { 
  display: none; }

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* .motivation__item {
  display: none;
} */

:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-light-alternate: #ECF2FF;
  --color-dark-alternate: #000727;
  --color-light-blu: #0051FF;
  --color-dark-blue: #0059FF;
  --color-light-gray: #556987;
  --color-dark-gray: #3D3D3D;
  --color-light-green: #09c6df;
  --border-radius: 200px;
  --border: 1px solid var(--color-light-blu);
  --font-family-base: 'Poppins', sans-serif;
  --font-family-accent: 'Figtree', sans-serif;
  --font-family: 'Roboto', sans-serif;
  --input-height: 48px;
  --container-width: 1170px;
  --container-padding-x: 135px;
  --container-mobile-width: 717px;
  --container-mobile-padding-x: 25px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-light);
  background-color: var(--color-light);
  margin: 0;
}

/* body::before {         
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/maket.png") no-repeat top center;
  opacity: 0.5;
  pointer-events: none;
  z-index: 9999;
} */
 /* body::before {         
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/maket2.png") no-repeat top center;
  opacity: 0.5;
  pointer-events: none;
  z-index: 9999;
} */

 h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base);
  font-weight: 700;
  color: var(--color-dark-gray);
  }

  h2, h4 {
  font-weight: 600;
  }
  h2 {
  font-size: 46px;
  color: var(--color-dark);
  line-height: 117.7%;
  letter-spacing: -0.03em;
  overflow-wrap: break-word; 
  text-align: left;    
}
 h3 {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}  
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  font-family: var(--font-family-base);
  margin: 0;
  margin-bottom: 10px;
}

 h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}
h6 {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family-base);
  margin: 0;

}
p {
  font-family: var(--font-family-base);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-dark);
  line-height: 117.7%;
  letter-spacing: -0.03em;
  overflow-wrap: break-word; 
  text-align: left; 
  margin-block: 0; 
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0);
  overflow: hidden !important;
}
a {
  color: var(--color-dark);
}
a:hover {
  color: var(--color-light-gray);
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto 0;
  padding-inline: var(--container-padding-x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.first-screen {
  background: url('../images/background1.png') center/cover no-repeat;
  padding: 25px 0 86px;
}
.first-screen__logo {
  max-width: 144px;
  max-height: 40px;
  margin-bottom: 45px;
} 
.first-screen__nav {
  display: none;
  width: 100%;
  max-width: 352px;
  margin-bottom: 45px;
  margin-left: 58px;
  margin-right: auto;
}
.first-screen__nav-list {
  display: flex;
  gap: 58px;               
  justify-content: flex-start;
}
.first-screen__nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--font-family);
  transition: color var(--transition-duration);
}
.first-screen__form {
    margin-bottom: 45px;
}
.first-screen__form-actions {
  display: flex;
  column-gap: 16px;
}
.first-screen__input  {
  max-width: 88px;
  height: var(--input-height);
  padding-inline: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  box-sizing: border-box;
  transition: border-color var(--transition-duration), background-color var(--transition-duration);
}

.first-screen__input::placeholder,
 .features-card__button::placeholder{
  color: var(--color-light-gray);
}
.first-screen__input:hover,
.features-card__button:hover{
  border-color: var(--color-light-green);
}
.first-screen__input:focus,
.features-card__button:hover {
  background-color: var(--color-light);
  outline: none;
}
.first-screen__button,
.motivation-card__button.button.transparent {
  display: inline-flex;
  align-items: center;
  height: var(--input-height);
  padding-inline: 38px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family-base);
  text-decoration: none;
  background-color: var(--color-dark-blue);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-light);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}
.first-screen__button:hover,
.motivation-card__button.button.transparent:hover { 
  background-color: var(--color-light-green);
}
.burger {
  padding: 1px 9px;
  border: none;
  position: relative;
  background: var(--color-dark-blue); 
  width: 38px;                      
  height: 38px;
  border-radius: 8px;               
  cursor: pointer;
  margin-bottom: 45px;
}
.burger span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 18px;
  height: 1.5px;
  background: #fff; 
  transform: translate(-50%, -50%);
  transition-duration: var(--transition-duration);
}
.burger:before,
.burger:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 18px;
  height: 1.5px;
  background: var(--color-light);   
  transition-duration: var(--transition-duration);
  transform: translateX(-50%);
}
.burger:before {
  top: 12px;  
}
.burger:after {
  bottom: 12px; 
}
.burger.open span {
  opacity: 0;
}
.burger.open {
  background: var(--color-dark-blue);
}
.burger.open:before {
  transform: translateX(-50%) rotate(-45deg) translate(-5px, 4px);
}
.burger.open:after {
  transform: translateX(-50%) rotate(45deg) translate(-5px, -4px);
}
.first-screen__nav.show {
    display: flex;
}
.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 24px;
}
.motivation-card__body {
  height: auto;
  margin-bottom: 76px;
}
.motivation-card__title {
margin-bottom: 20px;
}
.motivation-card__description {
  max-width: 470px;
  margin-bottom: 20px;
}
.motivation-card__image {
  width: 100%;
  height: auto;
  margin-bottom: 62px;
}
.features-card__body {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;    
}
.features-card {
  display: flex;
  justify-content: center;
  max-width: 1445px;
  margin-top: -106px;
  padding-left: 261px;
  padding-right: 265px;
}
.features-card__button  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px; 
    font-size: 12px;
    font-weight: 600;
    background-color: var(--color-light-alternate); 
    border: none; 
    border-radius: 36px; 
    color: var(--color-dark-blue);
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all var(--transition-duration);
    margin-bottom: 10px;
}
.features-card__button:hover {
    background-color: var(--color-light-green); 
    color: var(--color-light);
}
.features-card__title {
    margin-bottom: 16px;
}
.features-card__description {
  margin-bottom: 30px;
}
.benefits-list {
  display: flex;
  column-gap: 30px;
  margin-inline: 138px;
}
.benefits-item {
    padding: 21px 31px;
    width: 370px;
    height: 183px;
    box-shadow: -2px -3px 92px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 60px;
}
.benefits-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--color-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px; 
}

@media (min-width: 1025px) {
 .burger {
  display: none;
  }
  .first-screen__nav{
    display: flex;
  }  
}
@media (max-width: 1360px) {
.features-card {
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color-light);
} 
.motivation-card__image {
  width: 60%;
  height: auto;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
  line-height: 25px;
}
.features-card__description {
    margin-bottom: 24px;
}
.circle {
  width: 50px;
  height: 50px;
}
.benefits-image {
  width: 35px;
  height: 35px;   
}
.benefits-item {
  padding: 15px;
}
h4 {
  font-size: 20px;
}
.benefits-list {
    margin-inline: 100px;
}
}
@media (max-width: 1075px) {
.first-screen__nav {
  margin-left: 22px;
}
}
@media (max-width: 1024px) {
.container {
  padding-inline: 92px;
}
/* .motivation-card.hidden {
  display: none;
} */

.first-screen__nav {
  position: fixed;
  inset: 90px 0 0;
  flex-direction: column;
  padding: 15px;
  margin-left: auto;
}
.first-screen__nav-list {
 flex-direction: column;
 align-items: center;
}
 .first-screen__nav-item {
  padding-bottom: 26px;
}
h2 {
  font-size: 28px;
}
.features-card__body {
  padding-left: 80px;
  padding-right: 82px;
}

.features-card__title {
  margin-bottom: 4px;
}
.circle {
  width: 45px;
  height: 45px;
  }
.benefits-image {
  width: 27px;
  height: 27px;
}
    
h4 {
  font-size: 18px;
  line-height: 30px;
}
h6 {
    font-size: 14px;
}
}

@media (max-width: 769px) {
  .first-screen {
  padding: 15px 0 114px;
}
.container {
max-width: calc(var(--container-mobile-width) + var(--container-mobile-padding-x) * 2);
margin-inline: 0;
padding-inline: var(--container-mobile-padding-x); 
}
.first-screen__logo,
.first-screen__form,
.burger {
   margin-bottom: 32px;
}
.first-screen__logo {
max-width: 112px;
max-height: 42px;
padding-top: 4px;
}
.first-screen__input,
.first-screen__button,
.motivation-card__button.button.transparent {
height: 38px;
font-size: 16px;
padding-inline: 14px;
}
.first-screen__input {
  max-width: 72px;
  }
.first-screen__button  {
  max-width: 112px;
  justify-content: center;
}
.motivation-card {
  flex-direction: column;
}
.motivation-card__image {
  width: 100%;
}
.motivation-card__body {
  flex-direction: column;
  text-align: center; 
  margin-bottom: 0;
}
.motivation-card__description {
    max-width: 717px;
    padding-inline: 25px;
}
h2 {
  font-size: 34px;
  text-align: center;
}
p {
font-size: 16px;
text-align: center;
}
.motivation-card__image {
  margin-bottom: 40px;
}
.features-card__body {
  padding-inline: 15px;
}
.features-card__button {
  max-width: 55px;
  font-size: 8px;
  border-radius: 36px;
  margin-bottom: -10px;
}
.features-card__title {
  margin-bottom: -5px;
}
h3 {
  font-size: 26px;
}
.features-card__description {
  margin-bottom: 15px;
}
h4 {
  margin-bottom: 0;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
}
.benefits-list {
  flex-direction: column;
  align-items: center;
}

}

@media (max-width: 376px) {
.container {
  max-width: 375px;
  padding-inline: 15px;
}
.first-screen__logo {
  max-width: 101px;
  max-height: 31px;
}
.first-screen__form-actions {
  column-gap: 14px;
}
.first-screen__input, .first-screen__button, .motivation-card__button.button.transparent {
  max-height: 38px;
  font-size: 14px;
  padding-inline: 12px;
}
.first-screen__input {
  max-width: 63px;
}
.first-screen__button, .motivation-card__button.button.transparent {
 width: 102px;
}
.motivation-card__title,
.motivation-card__description,
.motivation-card__button.button.transparent {
margin-bottom: 15px;
}
.motivation-card__description{
max-width: 375px;
padding-inline: 0;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 14px;
}
.motivation-card__image {
  margin-bottom: 0;
}

.features-card {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -84px;
}

h3 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
.benefits-item {
  width: 345px;
  height: 133px;
  margin-bottom: 15px;
}
}




 













